* 
body {
  background: linear-gradient(
    to left,
    rgba(167, 98, 110, 0.762),
    rgba(192, 126, 137, 0.667),
    rgba(180, 120, 130, 0.914),
    rgba(192, 126, 137, 0.667),
    rgba(167, 98, 110, 0.762)
  );
}
header {
    font-size: 75px;
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 5%;
}
.web-pics {
    grid-template-columns: auto;
    display: flex;
    flex-direction: column;
}
.subheaders {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 55px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.back {
    position: absolute;
    top: 5%;
    left: 2%;
    font-size: 25px;
}
